@import "reset.css";

body{
    display: flex;
    justify-content: center;
    background-color: gainsboro;
    cursor: url('Cursor_picture/pencil.png') 0 30, auto; 
}
#main{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    /* font-family: '휴먼편지체'; */
}
#color_canvas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
input#color{
    width: 50px; height: 40px;
    background-color: white;
    border-radius:6px;
    cursor: pointer;
}
.color-options{
    width: 750px; height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.color-option{
    width: 40px; height: 40px;
    border-radius: 50%;
    transition: transform ease-in-out .1s;
    border: solid 5px white;
}
.color-option:hover{
    transform: scale(1.2);
}
.selectedOption{
    width: 50px; height: 50px;
    pointer-events: none;
}
canvas{
    width: 1100px; height: 630px;
    background-color: white;
    border-radius: 10px;
}


img{
    width: 20px; height: 20px;
}
.btns{
    display: flex;
    flex-direction: column;
    gap: 13px;
}
#btn1{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
#btn2{
    display: flex;
    justify-content: space-between;
    gap:5px;
}

button{
    all: unset;
    padding:15px 20px;
    text-align: center;
    background-color: royalblue;
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    transition: opacity linear .3s;
}
button:hover{
    opacity: 0.8;
}
select{
    all: unset;
    padding:20px 40px;
    text-align: center;
    background-color: royalblue;
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    transition: opacity linear .3s;
}
select:hover{
    opacity: 0.8;
}

input#text{
    all: unset;
    padding:13px 15px;
    text-align: center;
    border-radius: 10px;
    font-weight: 500;
    font-size: 11.5px;
    background-color: white;
}
input#text:hover{
    cursor: text;
}

input#file{
    display: none;
}
label{
    padding:10px 0px;
    text-align: center;
    background-color: royalblue;
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    transition: opacity linear .3s;
}
label:hover{
    opacity: 0.8;
}
#line_width, #eraser_width, #text_width{
    cursor: pointer;
}
.btns span{
    font-weight: bold;
    font-size: small;
}
.choice{
    background-color: darkblue;
}